@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  
}

body{
  background-color: black;
 
}
h1,h4,p,a{
  color:#E5E5E5;
  text-decoration: none;
}
li{
  list-style-type: none;
}
.btn{
  padding:12px 32px;
  font-size:1rem;
  text-transform:uppercase;
  background: #23D18B;
  color:#222;
  border:1px solid #E5E5E5;
  font-weight:600;
  cursor:pointer;
}
.btn-light{
background: transparent;
color:#E5E5E5
}
.btn:hover{
background:rgba(255,255,255,0.2);
color:#E5E5E5;
transition:0.3s;
}